body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 100px;
    display: block grid;
    justify-content: space-evenly;
}

button {
    border: none;
    font-size: 50px;
    cursor: pointer;
}

button::before {
    content: "\1F984";
} 

#timer {
    margin: 8px 0;
    font-size: 18px;
    font-weight: bold;
}